*{
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f5f8fa;

}

.navbar{
  overflow: hidden;
  background-color:rgb(230, 230, 27);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
}

.navbar a {
  float: left;
  display: block;
  color: rgb(15, 2, 2);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  background-color: rgb(224, 97, 194);
  border-radius: 25px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.navbar a:hover {
  background-color: rgb(120, 120, 120);
  color: white;
}
