img {
  width:50%;
  height:48%;
  margin-top:3%;
  margin-left: 25%;
  margin-right: 25%;

  border: 0ch;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
h1{
  text-align: center;
}

